<div class="container">
  <div class="my-3 d-flex justify-content-between align-items-center">
    <h2>New restaurant</h2>
    <%= link_to "Back to list", restaurants_path, class: "btn btn-primary"%>
  </div>

  <%= simple_form_for(@restaurant) do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category %>
  <%= f.submit(class: "btn btn-secondary")%>
  <% end %>

</div>
